body{
  background-color: white;
  color: gray;
}

h1{
  color:gainsboro;
}

h2{
  color: gainsboro;
}
nav ul li:hover{
  background-color: white;
}
.bodywrap {
  display: grid;
  grid-gap:10px;
  background-color: gray;
}

#grid-item{
  color: white;
  background-color: gray;
}

#headc{
  grid-column: 1
}

#leftc{

  grid-column: 1;
  grid-row: 2;
  
}

#mainc{
  grid-column:3;
  grid-row: 2;
}

ul li {
  color: gray;
}

.recipe {
  display: grid;
}

.ingredients{
  grid-column: 3;
  grid-row: 2;
}

.dairy{
  background-color:rgba(255, 251, 0, 0.438);
}

.meat{
  background-color: red;
}

.veg{
  background-color:green;
}

ol li{
  color: yellow;
  font-style: italic;
}

footer{
  color:black;
}